<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入配置的资源文件 -->
    <properties resource="jdbc.properties" />
    
    <!-- 可选的编程配置 -->
    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 日志输出 -->
        <setting value="STDOUT_LOGGING" name="logImpl"/>
    </settings>
    
    <!-- 为自定义对象提供别名 -->
    <typeAliases>
        <typeAlias type="com.javakc.cims.person.entity.Person" alias="Person"/>
        <typeAlias type="com.javakc.cims.subsidy.entity.Subsidy" alias="Subsidy"/>
    </typeAliases>

    <!--  引入数据库连接池  -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 装载mybatis映射文件 SQL文件  -->
    <mappers>
        <mapper resource="com/javakc/cims/test/repository/TestMapper.xml"/>
        <mapper resource="com/javakc/cims/person/repository/PersonMapper.xml"/>
        <mapper resource="com/javakc/cims/subsidy/dao/SubsidyMapper.xml"/>
    </mappers>

</configuration>